<article class="media">
  <figure class="media-left">


    <div class="image is-64x64">
      <div *ngIf = "user then user_avatar else default_avatar"></div>
      <ng-template #user_avatar><img src="{{user?.avatar}}"></ng-template>
      <ng-template #default_avatar><img src="http://www.fuse.tv/image/55d4f80bf3b95f1f3a000009/670/413/crop/sailor-venus-sailor-moon-quiz.jpg"></ng-template>
    </div>
  </figure>

  <div class="media-content">
    <div class="content">
      <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <p class="control">
            <textarea class="textarea" formControlName="text" placeholder="Add a comment..."></textarea>
          </p>
        </div>
          <div class="field is-grouped">
            <p class="control">
              <button class="button is-primary">Submit</button>
            </p>
            <p class="control">
              <button class="button is-link">Cancel</button>
            </p>
          </div>


      </form>


  </div>
  </div>
</article>
