<div class="container">
  <div class="column">
    <section class="panel">

      <form [formGroup]="snippetForm">
    
          <div class="field">
          <label class="label">Snippet Name</label>
          <p class="control">
            <input class="input" type="text" formControlName="name" placeholder="add name">
          </p>
          </div>
          
          <div class="field">
          <label class="label">Description</label>
          <p class="control">
            <textarea class="textarea" formControlName="description" placeholder="Textarea"></textarea>
          </p>
          </div>

          <label class="label">Tags</label>
          <div class="field has-addons">
              
            <p class="control">
              <input class="input" type="text" placeholder="Tags" #tag>
            </p>
            <p class="control">
              <button class="button" (click)="addTag(tag.value)">
                Add
              </button>
            </p>           
          </div>

          <div class="field is-grouped">
              <span class="tag is-info" *ngFor="let tag of tags" style="margin-bottom:5px">{{tag}}
                <button class="delete is-small"></button>
              </span>
          </div>
          
          <label class="label">Category</label>
          <div class="field is-grouped">
            <p class="control">
              <span class="select">
                <select formControlName="language">
                  <option disabled>Select language</option>
                  <option>typescript</option>
                  <option>javascript</option>
                  <option>c#</option>
                  <option>python</option>
                </select>
              </span>
            </p>
            <p class="control">
              <span class="select">
                <select formControlName="difficulty">
                  <option disabled>Select difficulty</option>                  
                  <option>Beginner</option>
                  <option>Intermediate</option>
                  <option>Professional</option>
                  <option>Ninja</option>
                </select>
              </span>
            </p>
            <p class="control">
              <span class="select">
                <select formControlName="type">
                  <option disabled>Select type</option>
                  <option>Nice to know</option>
                  <option>Need to know</option>
                </select>
              </span>
            </p>
          </div>


          <div class="field">
          <label class="label">Snippet code</label>
          <p class="control">
            <textarea class="textarea" formControlName="code" placeholder="Textarea"></textarea>
          </p>
          </div>

          <div class="field is-grouped">
            <p class="control">
              <button class="button is-primary" (click)="save()">Submit</button>
            </p>
            <p class="control">
              <button class="button is-link">Cancel</button>
            </p>
          </div>

        </form>
 
      
    </section>

    <div class="notification is-success" *ngIf="edited">
      <button class="delete"></button>
      Success - your snippet is saved succesfully
    </div>
  </div>
</div>
