<div class="container">
  <div class="column">
    <section class="panel">
      <p class="panel-heading">
        Snippet Creation
      </p>
      <div class="panel-block">
        <label class="label">Snippet Name</label>
        <p class="control">
          <input class="input" type="text" placeholder="add name">
        </p>
        <label class="label">Languages</label>
        <p class="control has-icon has-icon-right">
          <input class="input" type="text" placeholder="enter code languages">
        </p>
        <!--<label class="label">Email</label>
        <p class="control has-icon has-icon-right">
          <input class="input is-danger" type="text" placeholder="Email input" value="hello@">
          <i class="fa fa-warning"></i>
          <span class="help is-danger">This email is invalid</span>
        </p>-->
        <label class="label">Difficulty</label>
        <p class="control">
          <span class="select">
                <select>
                  <option>Beginner</option>
                  <option>Intermediate</option>
                  <option>Professional</option>
                  <option>Ninja</option>
                </select>
              </span>
        </p>
        <label class="label">Type</label>
        <p class="control">
          <span class="select">
                <select>
                  <option>Nice to know</option>
                  <option>Need to know</option>
                </select>
              </span>
        </p>        
        <label class="label">Snippet code</label>
        <p class="control">
          <textarea class="textarea" placeholder="Textarea"></textarea>
        </p>
        <p class="control">
          <label class="checkbox">
                <input type="checkbox">
                Remember me
              </label>
        </p>
        <p class="control">
          <label class="radio">
                <input type="radio" name="question">
                Yes
              </label>
          <label class="radio">
                <input type="radio" name="question">
                No
              </label>
        </p>
        <p class="control">
          <button class="button is-primary" (click)="onSave()">Submit</button>
          <button class="button is-link">Cancel</button>
        </p>
      </div>
    </section>
  </div>
</div>
