<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-tab is-active" [routerLink]="['home']"><i class="fa fa-home"></i> &nbsp; Home</a>
      <a class="nav-item is-tab" [routerLink]="['snippets']"><i class="fa fa-search"></i> &nbsp; Search</a>
      <a class="nav-item is-tab" [routerLink]="['home']"><i class="fa fa-envelope"></i> &nbsp; Contact</a>
      <a class="nav-item is-tab" [routerLink]="['comments']"><i class="fa fa-envelope"></i> &nbsp; Comments</a>
    </div>

    <div class="nav-center">
      <a class="nav-item" href="#">
          <span class="icon">
            <i class="fa fa-grav"></i>
          </span>
        </a>
    </div>

    <span class="nav-toggle">
        <span></span>
    <span></span>
    <span></span>
    </span>

    <div class="nav-right nav-menu">
        <span class="nav-item">
          <a class="button" [routerLink]="['creation']"  >
            <span class="icon">
              <i class="fa fa-plus"></i>
            </span>
            <span>New Snippet</span>
          </a>
        </span>

        <span class="nav-item">
          <a class="button" (click)="deleteSnippets()">
            <span class="icon">
              <i class="fa fa-plus"></i>
            </span>
            <span>Delete Snippets</span>
          </a>
        </span>

        <!-- LOGIN -->
        <span class="nav-item" *ngIf="!user">
          <a class="button" (click)="login()">
            <span class="icon">
              <i class="fa fa-hand-spock-o"></i>
            </span>
            <span>Login</span>
          </a>
        </span>

        <!-- LOGOUT -->
        <span class="nav-item" *ngIf="user">
          <a class="button">
            <span class="icon">
              <img [src]="user.avatar" width="30">
            </span>
            <span>{{ user.name }}</span>
          </a>
        </span>
        <span class="nav-item" *ngIf="user">
          <a class="button" (click)="logout()">
            <span class="icon">
              <i class="fa fa-hand-spock-o"></i>
            </span>
            <span>Logout</span>
          </a>
        </span>

      </div>

  </div>
</nav>
<section class="hero is-info bsa">
  <div class="container" style="padding:30px">
    <div class="columns is-vcentered">
      <div class="column is-12">
        <p class="title">Lightning <strong>Snippets</strong></p>
        <!--<p class="subtitle text-center">quick and clean</p>-->
      </div>
  </div>
  </div>
</section>
<section class="section main">
  <router-outlet></router-outlet>
</section>
