<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="{{mainComment.user.avatar}}">
    </p>
  </figure>

  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{mainComment.user.name}}</strong>
        <br>
        {{mainComment.text}}
        <br>
        <small><a>Like</a> · <button (click) = "updateReply()">Reply</button> · 3 hrs</small>
      </p>
    </div>

    <!--<div *ngIf = "replyComments.length > 1">
      <div *ngFor= "let singleComment of replyComments">
          <comment-card [comment] = "singleComment"></comment-card>
      </div>
    </div>-->

  </div>
</article>

<!--<div *ngIf = "needReplyBox">

    <submit-comment (submitComment) = "onChildCommentSubmitted($event)" ></submit-comment>

</div>-->




<!--<article class="media">
  <comment-card [comment] = "mainComment"></comment-card>

  <article class = "media">
  <div class="media-content">
    <div class="content">
      <comment-card [comment] = "replyComments[0]"></comment-card>
    </div>

    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Sean Brown</strong>
            <br>
            Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
            <br>
            <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
          </p>
        </div>
      </div>
    </article>

    <article class="media">
      <figure class="media-left">
        <p class="image is-48x48">
          <img src="http://bulma.io/images/placeholders/96x96.png">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Kayli Eunice </strong>
            <br>
            Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
            <br>
            <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
          </p>
        </div>
      </div>
    </article>
  </div>
  </article>
</article>-->
